div:hover {
    border: 5px solid rgb(163, 238, 232);
}

div:nth-of-type(1) {
    color: rgb(96, 169, 252);
}

div:nth-of-type(2) {
    color: rgb(221, 96, 252);
}

div:nth-of-type(3) {
    color: rgb(253, 163, 46);
}

div:nth-of-type(4) {
    color: rgb(32, 105, 4);
}

div:nth-of-type(5) {
    color: rgb(233, 178, 141);
}